version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"              # host:container
    environment:
      DB_HOST: db
      DB_NAME: lodge
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_PORT: 5432
      EMAIL_USER: lodge417.form@gmail.com
      EMAIL_PASS: agetrjlkwjsestkr
      RESEND_API_KEY: re_Vd9LtqhL_6aFtQBBYffgM94KC9Yv4qaEF

      FLASK_SECRET_KEY: "2232b1ec1b426bc383f1ec071979d87dd91e7b2e8467a5e0620e714ee1affdc5"
      UPLOAD_FOLDER: "static/uploads"
    depends_on:
      - db
    env_file:
     - .env

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: lodge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      # persist db data
      - postgres_data:/var/lib/postgresql/data
      # run the schema on first startup
      - ./app/database.psql:/docker-entrypoint-initdb.d/01-schema.sql:ro


volumes:
  postgres_data:
