version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"  # Consistent with Dockerfile
    environment:
      - RESEND_API_KEY=${RESEND_API_KEY}
      - EMAIL_TO=lodge417.form@gmail.com
      - FLASK_SECRET_KEY= "2232b1ec1b426bc383f1ec071979d87dd91e7b2e8467a5e0620e714ee1affdc5"
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: lodge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

      # EMAIL_PASS: agetrjlkwjsestkr
      # RESEND_API_KEY: re_Vd9LtqhL_6aFtQBBYffgM94KC9Yv4qaEF

