{% extends 'base.html'%}
{% from 'macros/password_fields.html' import password_field with context %}
{% block title %}Change Your Password{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <form action="{{ url_for('change_password') }}" method="POST" autocomplete="off" class="bg-dark p-4 rounded">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {{ password_field('old_password', 'Current Password') }}
        {{ password_field('new_password', 'New Password', new_password=true) }}
        {{ password_field('confirm_password', 'Confirm New Password', confirmation=true) }}

        {% if alert %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}

        <div class="row mt-4">
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
            </div>
            <div class="col-md-6 text-end">
                <button type="submit" class="btn btn-secondary">Change Password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
