{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1 class="text-center text-success mt-5 pt-5">
                Reset Password
            </h1>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="POST"
                  autocomplete="off"
                  class="border-success p-4 rounded">

                <!-- New Password -->
                <div class="mb-3 position-relative">

                    <label for="new_password" class="form-label">
                        <i class="fas fa-lock"></i>
                        New Password
                    </label>

                    <input type="password"
                           class="form-control"
                           id="new_password"
                           name="new_password"
                           autocomplete="new-password"
                           required>

                    <span onclick="togglePassword('password', this)"
                     style="position:absolute; right:15px; top:38px; cursor:pointer;">
                    <i class="fas fa-eye text-secondary"></i>
                    </span>

                </div>


                <!-- Confirm Password -->
                <div class="mb-3 position-relative">

                    <label for="confirm_password" class="form-label">
                        <i class="fas fa-lock text-secondary"></i>
                        Confirm Password
                    </label>

                    <input type="password"
                           class="form-control"
                           id="confirm_password"
                           name="confirm_password"
                           autocomplete="new-password"
                           required>
                           
                    <span onclick="togglePassword('password', this)"
                      style="position:absolute; right:15px; top:38px; cursor:pointer;">
                    <i class="fas fa-eye text-secondary"></i>
                    </span>

                </div>


                <button type="submit"
                        class="btn btn-success w-100">
                    Reset Password
                </button>

            </form>

        </div>
    </div>
</div>

{% endblock %}